<script src="~/js/jquery-3.6.0.js"></script>
<script src="~/js/FileUpload/Index.js"></script>
<div>

    <table>
        <tbody id="Files">
            <tr>
                <td colspan="3">
                    <input type="file" name="FileUpload" id="FileUpload" multiple>
                </td>
            </tr>
        </tbody>
    </table>

    <input type="button" id="btnSave" value="送出" />

</div>
